<ul class="menu">
    <li><a href="#!/view_home">view home</a></li>
    <li><a href="#!/view1">view1</a></li>
</ul>

<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
