<ul class="menu">
    <li><a href="#!/view_home">view home</a></li>
    <li><a href="#!/view2">view2</a></li>
</ul>

<p>This is the partial for view 1.</p>
<br/>

<p>Below data has come from node JS</p>
<div ng-controller="myController">
    <ul ng-repeat="item in data">
        <li>Name: {{item.name}}, City: {{item.city}}</li>
    </ul>            
</div>

